
:root {
    --color-bg: rgb(24, 24, 24);
    --color-main-dark: rgb(12, 12, 12);
    --color-main-dark-transparent: rgba(12, 12, 12, 0.75);
    --color-main-dark-alt: rgb(50, 50, 50);

    --color-main-purple: rgb(176, 0, 242);
    --color-main-white: rgb(232, 232, 232);
    --color-main-white-50: rgba(232, 232, 232, 0.5);
    --color-main-orange: rgb(255, 93, 0);
}

body {
    margin: 0;
    background: var(--color-bg);
    overflow-x: hidden;
}

header {
    z-index: 20;
    position: fixed;
    width: 100vw;
    height: 6vh;
    box-shadow: 0vh 0vh 10vh 6vh rgb(0, 0, 0);
}

.home {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin: 0vh;
    /* background-color: red; */
    height: 100%;
    width: 50%;
    padding-left: 20vw;
}

.home > a,.links > a {
    transition: all ease-in-out 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .25vh 2vh;
    transform: scale(1);
}

.home > a:hover,.links > a:hover {
    transform: scale(1.1);
}

.home > a > img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5vh;
}

.links {
    z-index: 999;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    margin: 0vh;
    /* background-color: red; */
    height: 100%;
    width: 50%;
    padding-right: 20vw;
}

.links > a > img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5vh;
}

.btn {
  transition: all ease-in-out 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to bottom, var(--color-main-purple), var(--color-main-orange));
  padding: .75vh 2vh;
  padding-bottom: .75vh;
  border-radius: 2vh;
  /* border: .5vh solid white; */
  text-decoration: none;
  font-size: 2.25vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-main-white);
  transform: scale(1);
  cursor: pointer;
  user-select: none;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: var(--color-main-dark);
  background-image: none;
  transform: scale(1.1);
}

/* main header gradient */
.nav-wrapper {
  display: flex;
  position: relative;

  width: 100vw;
  height: 8vh;
  /* bottom: 0; */
  background-image: linear-gradient(to right, var(--color-main-dark), var(--color-main-dark-alt));
}

/* header bevel gradient */
.nav-wrapper-border {
  display: flex;
  width: 100vw;
  height: 1vh;
  margin-top: -2vh;
  background-image: linear-gradient(to left, var(--color-main-dark), var(--color-main-dark-alt));
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20vh; */
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  background-image: linear-gradient(to left, var(--color-main-purple), var(--color-main-orange));
  overflow: hidden;
    
}

.hero-img {
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0vh auto;
  /* margin-top: -15vh; */
  width: 40vh;
}

.hero-video {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 175%;
    /* margin-top: -13vh; */
    opacity: 30%;
    filter: blur(8px);
}

.nav-mobile {

}

#mobile-nav {
  z-index: 999;
  width: 2vh;
  height: 2vh;
  position: fixed;
}

.btn-burger{
  transition: all ease-in-out 200ms;
  display: none;
  position: absolute;
  z-index: 999;
  width: 4vh;
  height: 4vh;
  margin-top: 2vh;
  right: 0;
  margin-right: 8vh;
  background-image: url(./img/icon_mobile_menu_gradient.svg);
  transform: scale(1);
}

#mobile-nav:checked ~ * .links {
  transform: translateX(0%);
}

#mobile-nav:checked ~ * .links > a {
  transition: all cubic-bezier(0,.19,.14,.94) 500ms;
  transform: translateY(0%);
}

#mobile-nav:checked ~ * .btn-burger {
  transform: scale(1.1);
}

@media (max-aspect-ratio: 4/3) {
    .links {
      z-index: -1;
      transition: all ease-in-out 300ms;
      flex-direction: column;
      position: absolute;
      margin: 0vh;
      padding: 0;
      padding-top: 10vh;

      height: 100vh;
      width: 20vh;

      right: 0;
      transform: translateX(150%);
      background-color: var(--color-main-dark-transparent);
      backdrop-filter: blur(50px);
    }
    .links > a {
      transition: all cubic-bezier(0,.19,.14,.94) 500ms;
      position: relative;
      display: flex;
      margin: 2vh;
      transform: translateY(-1000%);
    }
    .btn-burger {
      display: flex;
    }

    .hero-video {
      width: initial;
      height: 100%;
    }
}

.videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;
}

.iframe.video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 4vh;
  margin-left: auto;
  margin-right: auto;

  width: 80vh;
  height: 45vh;

  box-sizing: border-box;
}

iframe, object, embed {
  max-width: 100%;
  max-height: 100%;
}

.videos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vh;
}

.video.alt {
  margin: 2vh 6vh;
  width: 16vh;
  height: 9vh;
  transform: scale(1.5);
}

/* .btn-wrapper{
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 90vh;

  width: 20vh;
  border-radius: .75vh;
  padding: .3;
  background-image: linear-gradient(to top, var(--color-main-dark), var(--color-main-dark-alt));
}

.recent-uploads {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .75vh;
  width: 20vh;
  background-image: linear-gradient(to bottom, var(--color-main-dark), var(--color-main-dark-alt));
  border-radius: .75vh;
} */

.btn-wrapper {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 92vh;
  
}

.recent-uploads {
  background-image: none;
  background-color: var(--color-main-dark-transparent);
  color: var(--color-main-dark);
  color: var(--color-main-white);
  opacity: 90%;
  border-radius: 1vh;
}